/* line 1, ../sass/_globals.scss */
*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* line 7, ../sass/_globals.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* line 15, ../sass/_globals.scss */
body {
  background: -webkit-linear-gradient(90deg, #136a8a 10%, #267871 90%);
  /* Chrome 10+, Saf5.1+ */
  background: -moz-linear-gradient(90deg, #136a8a 10%, #267871 90%);
  /* FF3.6+ */
  background: linear-gradient(90deg, #136a8a 10%, #267871 90%);
  /* W3C */
  font-family: sans-serif;
  font-size: 18px;
  color: #444;
}

/* line 25, ../sass/_globals.scss */
ul {
  list-style: none;
  padding: 0;
}

/* line 30, ../sass/_globals.scss */
a {
  text-decoration: none;
}

/* line 34, ../sass/_globals.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-size: 100%;
  font-weight: normal;
}

/* line 40, ../sass/_globals.scss */
img, video {
  max-width: 100%;
}

/* line 3, ../sass/_header.scss */
header .brand {
  margin: 30px 0 0 40px;
}
/* line 6, ../sass/_header.scss */
header .brand h1 {
  color: #fff;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  display: inline-block;
}
/* line 14, ../sass/_header.scss */
header .brand img {
  display: inline-block;
  height: 34px;
  margin-bottom: -1px;
  margin-left: 6px;
}
/* line 22, ../sass/_header.scss */
header nav {
  position: absolute;
  top: 30px;
  right: 40px;
}
/* line 27, ../sass/_header.scss */
header nav ul li {
  display: inline-block;
  margin-left: 3em;
}
/* line 31, ../sass/_header.scss */
header nav ul li a {
  color: rgba(255, 255, 255, 0.7);
  transition: all 0.4s ease;
}
/* line 35, ../sass/_header.scss */
header nav ul li a:hover {
  color: white;
}
/* line 41, ../sass/_header.scss */
header nav .contact-form {
  width: 400px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #eeeeee));
  background-image: -moz-linear-gradient(#ffffff, #eeeeee);
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee);
  background-image: linear-gradient(#ffffff, #eeeeee);
  position: absolute;
  right: 4px;
  top: 64px;
  padding: 2em;
  z-index: 9999;
  border-radius: 4px 0px 4px 4px;
  display: none;
  opacity: 0;
}
/* line 54, ../sass/_header.scss */
header nav .contact-form h3 {
  font-size: 120%;
}
/* line 58, ../sass/_header.scss */
header nav .contact-form::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 15px solid #fff;
  position: absolute;
  top: -15px;
  right: 0;
}
/* line 70, ../sass/_header.scss */
header nav .contact-form input {
  height: 50px;
  width: 100%;
  display: block;
  margin: 18px auto;
  text-indent: 1em;
  font-size: 100%;
}
/* line 79, ../sass/_header.scss */
header nav .contact-form button {
  display: block;
  margin: 0 auto;
  height: 44px;
  width: 50%;
  border: none;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #333333), color-stop(100%, #444444));
  background-image: -moz-linear-gradient(#333333, #444444);
  background-image: -webkit-linear-gradient(#333333, #444444);
  background-image: linear-gradient(#333333, #444444);
  color: #fff;
  font-size: 100%;
}

/* line 1, ../sass/_footer.scss */
footer {
  width: 100%;
  height: 120px;
  position: relative;
  bottom: 0;
  left: 0;
  background: #fff;
  color: #bbb;
  font-weight: 100;
  font-size: 0.8em;
}
/* line 12, ../sass/_footer.scss */
footer .content {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
/* line 21, ../sass/_footer.scss */
footer .content .social-media-icons li {
  display: inline-block;
}
/* line 24, ../sass/_footer.scss */
footer .content .social-media-icons li a {
  color: #bbb;
  padding: 0 10px;
  font-size: 1.5em;
}

/* line 1, ../sass/_grid.scss */
.grid {
  position: relative;
  width: 100vw;
  height: calc(100vh - 292px);
  margin-top: 150px;
}
/* line 7, ../sass/_grid.scss */
.grid .grid-item {
  background: #fff;
  border: 3px solid #d8d8d8;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  width: 445px;
  transition: all 0.5s ease;
}
/* line 19, ../sass/_grid.scss */
.grid .grid-item:hover {
  width: 450px;
}
/* line 22, ../sass/_grid.scss */
.grid .grid-item:hover .content {
  opacity: 0.8;
}
/* line 27, ../sass/_grid.scss */
.grid .grid-item .content {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.4s ease;
}
/* line 41, ../sass/_grid.scss */
.grid .grid-item .content .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
/* line 49, ../sass/_grid.scss */
.grid .grid-item .content .embed-container iframe, .grid .grid-item .content .embed-container object, .grid .grid-item .content .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 57, ../sass/_grid.scss */
.grid .grid-item .content img {
  margin-bottom: -4px;
}
/* line 64, ../sass/_grid.scss */
.grid .on-top {
  z-index: 999 !important;
}
/* line 67, ../sass/_grid.scss */
.grid .on-top .content {
  opacity: 1 !important;
}
/* line 72, ../sass/_grid.scss */
.grid .pos00 {
  transform: translate3d(-400px, -100px, 0);
  z-index: 1;
}
/* line 77, ../sass/_grid.scss */
.grid .pos01 {
  transform: translate3d(0, -130px, 0);
  z-index: 2;
}
/* line 82, ../sass/_grid.scss */
.grid .pos02 {
  transform: translate3d(-140px, 90px, 0);
  z-index: 1;
}

/* line 1, ../sass/_detail-pane.scss */
.grid-item .more-info {
  position: absolute;
  width: 60px;
  background: #333;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
/* line 16, ../sass/_detail-pane.scss */
.grid-item .more-info + .detail-pane {
  width: 500px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIwLjkiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(240, 240, 240, 0.9)));
  background-image: -moz-linear-gradient(#ffffff, rgba(240, 240, 240, 0.9));
  background-image: -webkit-linear-gradient(#ffffff, rgba(240, 240, 240, 0.9));
  background-image: linear-gradient(#ffffff, rgba(240, 240, 240, 0.9));
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid rgba(50, 50, 50, 0.1);
  color: #333;
  padding: 2em;
  display: none;
  opacity: 0;
}
/* line 28, ../sass/_detail-pane.scss */
.grid-item .more-info + .detail-pane.right {
  right: -120%;
}
/* line 32, ../sass/_detail-pane.scss */
.grid-item .more-info + .detail-pane.left {
  left: -120%;
}
/* line 36, ../sass/_detail-pane.scss */
.grid-item .more-info + .detail-pane h3 {
  font-size: 1.5em;
  font-weight: 300;
  border-bottom: 1px solid rgba(50, 50, 50, 0.5);
  padding-bottom: 10px;
}
/* line 43, ../sass/_detail-pane.scss */
.grid-item .more-info + .detail-pane p {
  font-weight: 100;
  line-height: 1.5em;
}

/* line 8, ../sass/main.scss */
.no-select {
  position: absolute;
  width: 60px;
  background: #333;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  cursor: pointer;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
}
